
 <div class= "container-bandeau">
  <div class="row justify-content-center">
    <div class="col-12 col-lg-8">
      <h1 class="turquoise">Et maintenant, <br> que vais-je faire ?</h1>
      <h3 class="white">Un petit manuel de sagesse et d’audace <br>pour révéler et cultiver le meilleur de soi.</h3>
      <p class="white intro">Dans un monde où l'hyper-modernité est source de mal-vivre et où la singularité de chacun s'efface au profit d'une « adaptabilité », Stéphane Dieutre, fort de ses connaissances en psychologie positive et de son expérience d'accompagnement au sein de l'Institut Aristote, propose de trouver en soi sa singularité, irréductible à toute étiquette. Une singularité qui découle de l'acceptation de notre pluralité. Entre témoignages inspirants, démonstration théorique et clés pratiques, un ouvrage indispensable pour réveiller chez chacun son individualité et ses qualités : de quoi apprendre être soi-même pour mener sa mission auprès de tous !</p>
      <div class="buttons">
        <a class="button-round button-empty" href="" target="_blank">Lire le 1er chapitre</a>
        <a class="button-round button-full" href="https://livre.fnac.com/a15588153/Stephane-Dieutre-Et-maintenant-que-vais-je-faire#int=:NonApplicable|NonApplicable|NonApplicable|15588153|NonApplicable|NonApplicable" target="_blank">Commander le livre</a>
      </div>
    </div>
    <div class="col-12 col-lg-4 couverture">
      <%= cl_image_tag("https://res.cloudinary.com/dceooc5cf/image/upload/v1614001397/Couverture_livre-Stephane-Dieutre_lqfncm.jpg", crop: :fill, class: "couv") %>
    </div>
  </div>
</div>

<div class= "container-auteur">
  <div class="row centrer">
    <div class="col-12 col-xl-3">
      <div class="avatar-center">
        <%= cl_image_tag("https://res.cloudinary.com/dceooc5cf/image/upload/v1614003648/Ste%CC%81phane_Dieutre_viwk49.jpg", height: 700, crop: :fill, class: "avatar") %>
      </div>
    </div>
    <div class="col-12 col-xl-8">
      <h2 class="turquoise titre-auteur">L'auteur</h2>
      <p class="blue">Fondateur de l’Institut Aristote en 2012 Stéphane Dieutre accompagne les personnes et les organisations dans l’accomplissement de leurs potentiels en révélant ce qu’ils ont de puissant et d’unique à offrir au monde. <br><br>L’approche Aristote de développement des talents a connu un succès rapide, elle est aujourd’hui adoptée au sein de grandes entreprises comme L’Oréal, Société Générale, Vinci, Conseil Régional d’Île de France ou SalesForces pour déployer les potentiels, construire les équipes et développer le leadership.
      <br><br>Dans une première partie de carrière, Stéphane Dieutre a été Directeur du Planning Stratégique des agences J.Walter-Thompson puis TBWA de 1985 à 1990 puis il fonde avec Véronique Sauret, l’Agence Verte (91-95), première agence en France à se spécialiser dans la communication institutionnelle de l’environnement et de la santé.
      Plus récemment, il a créé et dirigé avec Jean-Maxence Granier le cabinet Think-Out de 2008 à 2010 et développé l’activité de conseil au sein de cette structure.</p>
    </div>
  </div>
</div>

<div class= "container-lecteurs">
  <h2 class="blue titre-lecteurs">L'avis des lecteurs</h2>
  <div class="row justify-content-around">
    <p class="temoignage col-12 col-lg-5"><span class="gras">"Dans la période que nous traversons ce livre va être utile à beaucoup de monde. Donner du sens à notre vie et à notre métier me semble l'un des enjeux majeurs de notre siècle. Si on s'y met tous, on devrait en voir les résultats ! J'ai appris beaucoup de choses, particulièrement apprécié les exemples de parcours qui rendent le propos vivant et partagé beaucoup de vos points de vue. Je ne suis pas certaine de connaître encore tous mes personnages-talents ni toutes mes ombres mais votre livre m'incite à y réfléchir..."</span><br>Hélène Bihery</p>
    <p class="temoignage col-12 col-lg-5"><span class="gras">"C’est remarquablement bien écrit. Cet équilibre entre le cheminement de l'auteur, ses enseignements et ses clients. Parfait équilibre. Ça donne envie de faire l’Institut. Bravo."</span><br>Jacques Huybrechts</p>
  </div>
</div>

<h2>La presse en parle</h2>
<h2>Pourquoi lire ce livre ?</h2>


