.button-round {
  padding: 14px 21px;
  border-radius: 30px;
  text-decoration: none;
  font-size:23px;
  border-style: solid;
  border-width: thin;
  margin-right:21px;
  text-align:center;
  font-family:'Open Sans', sans-serif;
}

.button-full {
  background-color: #00B9D3;
  border-color: #00B9D3;
  color:white;
}

.button-full:hover {
  text-decoration:none;
  font-weight: 700;
  color:white;
}

.button-white {
  background-color: white;
  border-color: white;
  color:#00B9D3;
}

.button-white:hover {
  text-decoration:none;
  font-weight: 700;
  color:#00B9D3;
}

.button-empty {
  text-decoration: none;
  border-color: white;
  color:white;
}

.button-empty:hover {
  text-decoration: none;
  border-color: white;
  background-color:white;
  color:#006da6f7;
}
