.flexbox {
  display: flex;
  justify-content: space-between;
  align-items: top;
}

.container-bandeau {
  background-color:#006da6f7;
  width: 100%;
  padding: 100px 50px;
  min-height:100vh;
  padding-top: 140px;
}

.container-auteur {
  background-color:white;
  width: 100%;
  padding: 70px 50px;
}

.container-lecteurs {
  background-color:#00B9D3;
  width: 100%;
  padding: 70px 50px;
}

.container-arguments {
  background-color:#EDE634;
  width: 100%;
  padding: 70px 50px;
}

.centrer-vertical {
  display: flex;
  align-items: center;
}

.centrer-horizontal {
  display: flex;
  justify-content: center;
}

.the-margin-top {
  margin-top: 50px !important;
}

@media screen and (max-width: 992px) {
  .couv {
    margin-top: 52px;
  }
  .couverture {
    display:flex;
    justify-content: center;
  }
  .buttons {
    display: flex;
    justify-content: space-around;
  }
}


@media screen and (max-width: 1200px) {
  .avatar {
  }
  .titre-auteur{
    text-align:center;
  }
}


@media screen and (max-width: 1100px) {
  .button-round {
    font-size:19px !important;
  }
}

@media screen and (max-width: 540px) {
  .container-bandeau {
    padding: 5px 15px !important;
  }
  .container-auteur {
    padding: 20px 15px !important;
  }
  .avatar {
    margin-bottom:10px !important;
  }
  .buttons {
    display: grid
  }
  .button-round {
    margin-bottom:10px;
  }
  .couv {
    margin-top:12px;
    margin-bottom:30px;
  }
}

@media screen and (max-width: 360px) {
  .avatar {
    height: 150px;
  }
  h1 {
    font-size:50px !important;
    margin-bottom: 10px !important;
  }
  h3 {
    margin-bottom: 15px !important;
  }
}

@media screen and (max-width: 320px) {
  h1 {
    font-size:33px !important;
  }
  h3 {
    font-size:20px !important;
    margin-bottom: 20px !important;
  }
  p {
    font-size:15px !important;
  }

  .intro {
    margin-bottom: 20px !important;
  }

  .button-round {
    font-size:15px !important;
  }
}

