.flexbox {
  display: flex;
  justify-content: space-between;
  align-items: top;
}

.largeur {
  background-color:#006da6f7;
  width: 100%;
  padding: 100px 50px;
  min-height:100vh;
  padding-top: 140px;
}


@media screen and (max-width: 992px) {
  .couv {
    margin-top: 52px;
  }
  .couverture {
    display:flex;
    justify-content: center;
  }
  .buttons {
    display: flex;
    justify-content: space-around;
  }
}

@media screen and (max-width: 1100px) {
  .button-round {
    font-size:19px !important;
  }
}

@media screen and (max-width: 540px) {
  .largeur {
      padding: 5px 15px !important;
  }
  .buttons {
    display: grid
  }
  .button-round {
    margin-bottom:10px;
  }
  .couv {
    margin-top:12px;
    margin-bottom:30px;
  }
}

@media screen and (max-width: 320px) {
  h1 {
    font-size:33px !important;
  }
  h3 {
    font-size:20px !important;
    margin-bottom: 20px !important;
  }
  p {
    font-size:15px !important;
    margin-bottom: 20px !important;
  }

  .button-round {
    font-size:15px !important;
  }
}

