@import url("components/container.css");
@import url("components/button.css");
@import url("components/text.css");
@import url("components/image.css");
@import url("components/card.css");
@import "bootstrap";

h1 {
  font-size:60px;
  margin-bottom: 15px;
}

h2 {
  font-size:50px;
  margin-bottom: 15px;
}

h3 {
  font-size:33px;
  margin-bottom: 43px;
}

p {
  font-size:21px;
}


